* {
  box-sizing: border-box;
  margin: 0;
 
}
body{
  height: 100%;
  width: 100%;
  background: url("./img/walpaper.jpg") no-repeat fixed;
  background-size: 100%93%;
  
}
table td {
  outline: 1px solid black;
  width: 300px;
  height: 200px;
  text-align: center;
  font-size: 5em;
  background-color: #eee;
  background-repeat: no-repeat;
}

table td:hover {
  cursor: pointer;
  background-color: #ccc;
}

img {
  height: 35px;
  width: 35px;
  margin: 5px 2px;
}
#img{
  height: 65px;
  width: 65px;
  margin: 5px 2px;
}


.main {

  height: 1020px;
}

.nav {
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #2c3e50;
  text-align: center;
}
.icon {
  margin: 5px 20px;
  color: #ffffff;
  border: 1px solid greenyellow;
  border-radius: 6px;
  padding: 5px;
}

.representWindowMemory {
  color:#000;
  
  margin-top: 5px;
  
  
}


.dimension {
  background-color: white;
}

.aplyButton {
  background-color: #e7e7e7;
  left: 60px;
  position: absolute;
}

.memGameIcon {
  position: absolute;
  left: 200px;
  top: 50px;
}

.memGamTxt {
  position: absolute;
  left: 180px;
  top: 100px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-style: inherit;
  font-weight: normal;
}

.hangmanIconBar {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50px;
  border: none;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  color: #555;
  margin: 10px 0;
  overflow-wrap: break-word;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  
}
#close{
  color: #000;
  text-align: center;
}
.border {
  height: 21px;
  background-color: #4c75a7;
}

button {
  cursor: pointer;
}



.memory img {
  width: 60px;
}

.memory .removed {
  visibility: hidden;
}
/*duplicate*/
.window {
  border: 2px solid silver;
  border-radius: 5px;
  height: 397px;
  width: 285px;
  margin-left: 150px;
  margin-top: 40px;
  position: fixed;
  left: 500px;
  top: 150px;
  background-color: #ffffff;
  color: #000;
}

.text {
  bottom: -4px;
  position: absolute;
  
  width: 384px;
}

textarea {
width: 280px;
  height: 40px;
}
/*remove*/
.navWindow {
  height: 38px;
  border: 2px solid #4c75a7;
  background-color: #4c75a7;
}

.buttonX {
  float: right;
  width: 55px;
  height: 37px;
  background-color: greenyellow;
  border: none;
  border-radius: 25px;
}


.container::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.game {
  width: 585px;
  height: 520px;
  line-height: 0;
}

.addUserName {
  background-color: #be5b6e !important;
  border: none;
  color: white;
  padding: 11px 4px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 16px;
  top: 320px;
  right: 80px;
  position: absolute;
}

button {
  cursor: pointer;
}

.button {
  background-color: #c2428d;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.representWindow {
  color:#000;
  
  margin-top: 10px;
  text-align: center;
}

.hManAreaBorder {
  height: 21px;
 background-color: #ffffff;
}
#msg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav-wrapper;
  border-bottom: 1px solid #c1c1c1;
  background-color: #d2d2d2;
  border-radius: 5px 5px 0 0;
}
 #close {
  text-align: center;
}
#dot-1 {
  display: inline;
  background-color: #fc6058;
  
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}
.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
p{
  color: #ffffff;
}
#settingContainer {
 
  display: block;
  border: 2px solid silver;
  border-radius: 5px;
  height: 150px;
  width: 185px;
  color: #000;
  background-color: #ffffff;
  
}
#settingTittle{
  text-align: center;
  margin-right: 10px;
}
#options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 20px;
}
#apply{
  padding: 14px 20px;
  color: #000;
  text-align:center;
  text-decoration: none;
  border: 2px solid #000;
  margin: 20px; 
  background-color: #fff;

}
.changeNameButton{
  padding: 5px 10px;
  color: #000;
  text-align:center;
  text-decoration: none;
  
  margin: 10px; 
  background-color: #fff;

}
.UserNameTextBox {
  height: 30px;
  width: 50px;
  transition: all 0.6s;
  box-shadow:none;
}
.buttonOk{
  height: 30px;
  background: #85BD02;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  transition: all 0.6s;
}
.name{
  height: 22px;
  
}
.messages {
  height: 260px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*.....*/
